:root {
  --bg-color: #343a40;
  --primary-color: #0d0d0d;
  --secondary-color: #fff;
  --text-color: #fff;
  --text-color-2: #fff;
  --text-color-3: rgb(204, 0, 0);
  --overlay-color: rgb(12 12 12 / 63%);
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --primary-color: #ffffff;
  --secondary-color: #000;
  --text-color: #000;
  --text-color-2: #000;
  --text-color-3: rgb(204, 0, 0);
  --overlay-color: rgb(255 255 255 / 70%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}
.screen-content {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease;
}
.nav-header {
  display: flex;
  header {
    flex: 98;
  }
  .themeToggle {
    flex: 2;
  }
}
.main-content {
  flex: 1;
}
header {
  min-height: 5rem;
}
footer {
  min-height: 5rem;
}
